<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sds.vuestarter.mapper.menu.MenuMapper">

<!-- SELECT QUERIES -->
<select id="getList" resultType="MenuVO">
<![CDATA[
/* menuMapper.getList */
SELECT *
  FROM CM_MENU
 WHERE DELETE_YN = 'N'
 ORDER BY SEQ
]]>
</select>



</mapper>
