/* [COLOR] Primary */
$col-primary : #28B463;
$col-prim    : $col-primary;
$col-prim-d3 : #186A3B;
$col-prim-d2 : #1D8348;
$col-prim-d1 : #239B56;
$col-prim-l1 : #2ECC71;
$col-prim-l2 : #58D68D;
$col-prim-l3 : #82E0AA;
$col-prim-l4 : #ABEBC6;
$col-prim-l5 : #D5F5E3;


$col-secondary : #4E8CCE;
$col-tertiary  : #BFF426;


/* [COLOR] Greyscale */
$col-black   : #000;
$col-dark    : #333;
$col-gray-d2 : #666;
$col-gray-d1 : #888;
$col-gray    : #AAA;
$col-gray-l1 : #CCC;
$col-gray-l2 : #EbEbEb;
$col-gray-l3 : #F2F2F2;
$col-white   : #FFF;



/* [COLOR] Rainbow */
$col-red    : #E74C3C;
$col-orange : #F39C12;
$col-yellow : #F4D03F;
$col-green  : #28B463; /* same as col-prim*/
$col-blue   : #2E86C1;
$col-navy   : #1A5276;
$col-violet : #884EA0;