/*
@font-face {
  font-family: 'd2coding';
  font-style: normal;
  font-weight: 700;
  src: url('./font/D2Coding-Ver1.3.2-20180524.ttf');
  src: local('※'), local('D2Coding Bold'),
  url('./font/D2Coding-Ver1.3.2-20180524.ttf') format('truetype');
}
@font-face {
  font-family: 'd2coding';
  font-style: normal;
  font-weight: 400;
  src: url('./font/D2Coding-Ver1.3.2-20180524.ttf');
  src: local('※'), local('D2Coding'),
  url('./font/D2Coding-Ver1.3.2-20180524.ttf') format('truetype');
}
*/
